<div class="global-actions">
  <button
    (click)="save()"
    [disabled]="!isValid()"
    color="primary"
    mat-raised-button
  >
    <mat-icon>save</mat-icon>
    {{ createMode ? "Erstellen & Speichern" : "Speichern" }}
  </button>
  <button
    (click)="delete()"
    [disabled]="createMode"
    color="warn"
    mat-raised-button
  >
    <mat-icon>delete</mat-icon>
    Löschen
  </button>
</div>
<div class="cards-container">
  <mat-card class="card case-information">
    <mat-card-title>Relevance Case Informationen</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Name</mat-label>
        <input
          (change)="relevanceCase.name = $any($event.target).value"
          [value]="relevanceCase.name"
          matInput
        />
      </mat-form-field>
      <div class="label-editor">
        <mat-form-field appearance="standard">
          <mat-label>Label Key</mat-label>
          <input #labelKey matInput />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Label Value</mat-label>
          <input #labelValue matInput />
        </mat-form-field>
        <button
          (click)="
            addLabel(labelKey.value, labelValue.value);
            labelKey.value = '';
            labelValue.value = '';
            labelKey.focus()
          "
          mat-button
        >
          <mat-icon>add</mat-icon>
          Label Hinzufügen
        </button>
      </div>
      <rqms-label-list
        (change)="relevanceCase.labels = $event.value"
        [labels]="relevanceCase.labels"
        [maxLabels]="1000"
        [removable]="true"
      ></rqms-label-list>
    </mat-card-content>
  </mat-card>
  <!-- Query -->
  <mat-card class="card case-query">
    <mat-card-title>Suchanfrage</mat-card-title>
    <mat-card-content>
      <div class="query-part-one">
        <rqms-search-query-select class="field query-type" (change)="relevanceCase.query.type = $event"></rqms-search-query-select>
        <mat-form-field appearance="fill" class="field query-term">
          <mat-label>Suchbegriff</mat-label>
          <input
            (change)="
              relevanceCase.query.searchTerm = $any($event.target).value
            "
            [value]="relevanceCase.query.searchTerm"
            matInput
          />
        </mat-form-field>
        <div class="spacer"></div>
      </div>
      <div class="query-part-two">
        <div (click)="parameterView = !parameterView" class="parameter-title">
          <mat-icon>{{
            parameterView ? "expand_less" : "expand_more"
          }}</mat-icon>
          <span>Parameter der Suchanfrage</span>
        </div>
        <div [attr.opened]="parameterView" class="hideable actions">
          <button mat-button>
            <mat-icon>add</mat-icon>
            Hinzufügen
          </button>
        </div>
        <div
          [attr.opened]="parameterView"
          class="hideable spacer-vertical-15"
        ></div>
        <div [attr.opened]="parameterView" class="hideable parameter-container">
          <div
            *ngFor="let parameters of getQueryParameters()"
            class="parameter-entry"
          >
            <div class="parameter-key">
              {{ parameters.key }}
            </div>
            <div class="parameter-value">
              {{ parameters.value }}
            </div>
            <div class="parameter-actions">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- Metrics -->
  <mat-card class="card case-metric">
    <mat-card-title>Metrik</mat-card-title>
    <mat-card-content>
      <rqms-offline-metric-select (change)="relevanceCase.metric.name = $event"></rqms-offline-metric-select>
      <!--<mat-form-field appearance="fill" class="field">
        <mat-label>Type der Metrik</mat-label>
        <mat-select
          (selectionChange)="relevanceCase.metric.name = $event.value"
          [value]="relevanceCase.metric.name"
        >
          <mat-option *ngFor="let type of metricTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
      <mat-form-field appearance="fill" class="field">
        <mat-label>Metrik Cutoff</mat-label>
        <input
          (change)="relevanceCase.metric.cutoff = $any($event.target).value"
          [value]="relevanceCase.metric.cutoff"
          matInput
          type="number"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<!-- Result Management -->
<div class="results-container">
  <mat-card class="query-box">
    <p style="width: 70%">
      Suche nach den Dokumenten welche du zu diesem Relevance Case hinzufügen
      möchtest (z. B. anhand der Dokumenten Id) und ziehe sie von recht nach
      links. Wenn du Dokumente aus diesem Relevance Case entfernen möchtest,
      ziehe sie einfach von links nach rechts. Die Dokumente in der linken Liste
      kannst du durch verschieben sortieren.
    </p>
    <div class="query-input">
      <rqms-search-engine-select
        class="field search-engine"
        (change)="searchEngine = $event.name"
      ></rqms-search-engine-select>
      <mat-form-field appearance="fill" class="field search-term">
        <mat-label>Suche</mat-label>
        <input
          (change)="search($any($event.target).value)"
          (keyup)="search($any($event.target).value)"
          [value]="relevanceCase.query.searchTerm"
          matInput
        />
      </mat-form-field>
    </div>
  </mat-card>
  <div
    #expectedResutsList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[availableResultsList]"
    [cdkDropListData]="relevanceCase.results"
    cdkDropList
    class="expected-results"
  >
    <div
      *ngIf="relevanceCase.results.length == 0"
      class="placeholder result-entry"
    >
      <mat-icon style="margin-left: 40%">arrow_drop_down_circle </mat-icon>
      <span>Dokumente hier ablegen</span>
    </div>
    <div
      *ngFor="let result of relevanceCase.results"
      [attr.documentId]="result.documentId"
      cdkDrag
      class="expected-result result-entry"
    >
      <img
        [src]="
          result.imageUrl != null ? result.imageUrl : '/assets/missing.jpg'
        "
        class="result-image"
      />
      <div class="result-information">
        <h1>{{ result.title }}</h1>
        <mat-form-field appearance="fill" class="field relevance">
          <mat-label>Relevance</mat-label>
          <input
            (change)="result.relevance = $any($event.target).value"
            [value]="result.relevance"
            matInput
            max="1"
            min="0"
            step="0.1"
            type="number"
          />
        </mat-form-field>
      </div>
      <div cdkDragHandle class="result-drag-area">
        <mat-icon>drag_indicator</mat-icon>
      </div>
    </div>
  </div>
  <div
    #availableResultsList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[expectedResutsList]"
    [cdkDropListData]="searchResults"
    [cdkDropListSortingDisabled]="true"
    cdkDropList
    class="available-results"
  >
    <div *ngIf="searchResults.length == 0" class="placeholder result-entry">
      <mat-icon style="margin-left: 40%">error </mat-icon>
      <span>Keine Ergebnisse gefunden</span>
    </div>
    <div
      *ngFor="let result of searchResults"
      cdkDrag
      class="available-result result-entry"
    >
      <img
        [src]="
          result.imageUrl != null ? result.imageUrl : '/assets/missing.jpg'
        "
        class="result-image"
      />
      <div class="result-information">
        <h1>{{ result.title }}</h1>
      </div>
      <div cdkDragHandle class="result-drag-area">
        <mat-icon>drag_indicator</mat-icon>
      </div>
    </div>
  </div>
</div>
