.global-actions {
  height: 50px;
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;

  button {
    min-height: 40px;
    min-width: 100px;
  }
}

.cards-container {
  margin-top: 30px;
  display: flex;
  padding: 15px;
  gap: 15px;
  flex-flow: column nowrap;
}

.condition-container {
  padding: 15px 0px 0px ;
  display: flex;
  gap: 15px;
  
  .editor {
    flex-grow: 1;
  }
}