<div class="global-actions">
  <button mat-raised-button [routerLink]="'/offline/assertion-tests/new'">
    <mat-icon>add</mat-icon>Create new
  </button>
</div>
<mat-selection-list [multiple]="false">
  <mat-list-option
    *ngFor="let test of assertionTests"
    [value]="test"
    [routerLink]="'/offline/assertion-tests/' + test.id"
  >
    <mat-icon matListItemIcon>fact_check</mat-icon>
    <div matListItemTitle>{{ test.query.searchTerm }}</div>
    <div matListItemLine>Conditions: {{ test.conditions.length }}</div>
  </mat-list-option>
</mat-selection-list>
