<mat-nav-list>
    <a mat-list-item routerLink="/offline/relevance-cases">
        <mat-icon>view_list</mat-icon>
        &nbsp;
        <span>Relevance Cases</span>
    </a>
    <a mat-list-item routerLink="/offline/test-runs">
        <mat-icon>stacked_line_chart</mat-icon>
        &nbsp;
        <span>Testläufe</span>
    </a>
    <a mat-list-item routerLink="/offline/search-engines">
        <mat-icon>manage_search</mat-icon>
        &nbsp;
        <span>Suchfunktionen</span>
    </a>
    <a mat-list-item routerLink="/online/metrics">
        <mat-icon>auto_graph</mat-icon>
        &nbsp;
        <span>Live Metriken</span>
    </a>
    <a mat-list-item routerLink="/integration/plugins">
        <mat-icon>power</mat-icon>
        &nbsp;
        <span>Plugins</span>
    </a>
    <a mat-list-item routerLink="/imprint/">
        <mat-icon>info</mat-icon>
        &nbsp;
        <span>Impressum</span>
    </a>
</mat-nav-list>