<mat-nav-list>
    <a mat-list-item routerLink="/offline/judgment-lists">
        <mat-icon>info</mat-icon>
        &nbsp;
        <span>Judgment Lists</span>
    </a>
    <a mat-list-item routerLink="/online/abtests">
        <mat-icon>info</mat-icon>
        &nbsp;
        <span>A/B Tests</span>
    </a>
    <a mat-list-item routerLink="/integration/configurations">
        <mat-icon>info</mat-icon>
        &nbsp;
        <span>Konfigurationen</span>
    </a>
    <a mat-list-item routerLink="/imprint/">
        <mat-icon>info</mat-icon>
        &nbsp;
        <span>Impressum</span>
    </a>
</mat-nav-list>