<div class="header">
  <div class="actions">
    <button mat-raised-button color="primary" class="button" routerLink="/offline/relevance-cases/new">
      <mat-icon>add</mat-icon>
      <span>
        Create Relevance Case
      </span>
    </button>
  </div>
  <div class="filter">
    <mat-form-field appearance="fill" class="field">
      <mat-label >Filter</mat-label>
      <input matInput (keyup)="filter($event.target)">
    </mat-form-field>
  </div>
  <div class="spacer"></div>
</div>
<div class="relevance-cases-container">
  <div *ngFor="let case of cases" class="entry">
    <div
      class="score"
      [style.backgroundColor]="scoreToColor(case.relevanceScore, 'background')"
      [style.color]="scoreToColor(case.relevanceScore, 'text')"
    >
      {{ case.relevanceScore.toPrecision(2) }}
    </div>
    <div class="title">{{ case.name }}</div>
    <div class="tags">
      <rqms-label-list [labels]="case.labels"></rqms-label-list>
    </div>
    <div class="results">{{ case.resultCount }}</div>
    <div class="action" [routerLink]="'/offline/relevance-cases/'+case.id">
      <mat-icon>navigate_next</mat-icon>
    </div>
  </div>
</div>
